body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://kartinkin.net/uploads/posts/2021-07/1626262468_14-kartinkin-com-p-temnii-fon-dlya-menyu-krasivo-15.jpg");
  background-size: cover;

}

#content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

li {
  display: inline;
  margin-right: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}