<!--caffeine_detail-->
{% extends 'home.html' %}

{% block title %}{{ caffeine.name }}{% endblock %}

{% block content %}
    <h1 style="color: #ffffff; font-size: 30pt; ">{{ caffeine.name }}</h1>
    <p style="color:#ffffff">{{ caffeine.description }}</p>
    <h2 style="color:#ffffff">Menu</h2>
    <ul>
    {% for item in menu_items %}
        <li style="color: #ffffff; font-size: 15pt;">{{ item.name }} - {{ item.price }}</li>
    {% empty %}
        <li style="color: #ffffff; font-size: 15pt;">No menu items found.</li>
    {% endfor %}
    </ul>
{% endblock %}







